@charset "utf-8";
/* CSS Document */
/* CAREFULL NOT TO MIX THIS ONE UP WITH THE ADMIN FILE*/

html {
	
	display:list-item;
	list-style:outside;
	height: auto;
	width: auto;
	background-image: url(../images/Christa-Richert_1003364_26900451.png) opacity=.5;
	padding: 0;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font:80%/1.50 sans-serif;
	
}
#map {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 30%;
	border-color:#090;
}

body {	
	list-style-image:url(../images/flower.png) ;/*This is the carrot on the map.  It says flower, but I changed it to a carrot when I learned that the list is of veggie gardens...*/
}


h1 {
	padding:4px 8px;
	border-radius: 2px;
	height: 22px;
	font-size:100%;
	color:#403022;
	
}

header{
	background-color:#3F3;
	height:200px;
	width: 800px;
	margin: 0;
	padding: 0;
	float: left;
}


footer{
	background-color:#403022;
	height: 50px;
	width: 100%;
	float:left;
	display: inline;
	margin-right:10px;
	margin-top: 10px;
	padding: 0;
}

footer p {
	color: #FFF;
	text-align:center;
}



/*footer li a{
	width:500px;
	height:55px;
	list-style-type:none;
	display:inline;
	color:#FFF;
	margin-right:38px;
	text-align:right;
	font-weight:400; 
	font-size:140%;	
}


*/

/*.rate {
	width: 200;
	height: 200;
	background-color:#FFFFCC;
	float: left;
	
	
}*/






/*CLEAR FIX*/

/*
.clearfix:before {
	content:"";
	display:table;	
}

.clearfix:after{
	content:"";
	display:table;	
}

.clearfix:after{
		clear:both;
}

.clearfix{
	*zoom:1;	
}
*/