@charset "utf-8";
/* CSS Document */
/* CAREFULL NOT TO MIX THIS ONE UP WITH THE ADMIN FILE*/

html {
	background-image: url(../images/Christa-Richert_1003364_26900451.png);
}
	
body {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1em;
}

#wrapper {
	width: 1000px;
	margin: 0 auto;
	background-color: rgba(255,255,255,1);
}

.main {
	width: 100%;
	height: 900px;
	position: relative;
	padding: 5px;	
}

#map {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 900px;
}

.garden {
	width: 50%;
	height: 900px;
	position: absolute;
	left: 0;
	top: 0;
}

h1 {
	padding:4px 8px;
	border-radius: 2px;
	height: 50px;
	font-size: 120%;
	color:#360; /*dardk green*/
}

header{
	height:200px;
	width: 100%;
}

header img {
	text-align:center;	
}

footer{
	background-color: #633;/*earthy brown*/
	width: 100%;
	display: inline;
}

footer p {
	color:#FC0; /*pumpkin*/
	text-align:center;
	font-size:1em;
}

.rate {
	width: 200;
	height: 200;
	background-color:#FFFFCC;
	position:relative;
}

.info-window {
	width: 300px;
	height: auto;
	overflow:scroll;
	background-color: #FC9; /*peach*/
}

.garden{
	padding: 0;
}

.garden li {
	cursor: pointer;
	
	list-style-type: none;
}

.garden li:hover {
	background-color: #f4f3f0;
}

.garden a,
.garden a:link,
.garden a:visited {
	color: #000;
	text-decoration: none;
}

.garden li meter {
	display: inline-block;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;
	
	-webkit-appearance: none;
	appearance: none;
}

.rater {
display: inline-block;
margin: 0;
padding: 0;
vertical-align: middle;

list-style-type: none;
line-height: 1;
}

.rater-level {
float: left;

color: #CF9; /* this is the light star before it is rated*/
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
color:#CCC ;
text-decoration: none
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
color: #F60;
}








/*CLEAR FIX*/

/*
.clearfix:before {
	content:"";
	display:table;	
}

.clearfix:after{
	content:"";
	display:table;	
}

.clearfix:after{
		clear:both;
}

.clearfix{
	*zoom:1;	
}
*/